<!DOCTYPE html>

<html lang="en">

<head>
    <!-- document metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- document title -->
    <title>Properties</title>

    <!-- document styles -->
    <link rel="stylesheet" href="css/main.css" />
</head>

<body>
    <!-- document content -->
    <div class="page">
        <header class="header">
            <div class="page__container">
                <h1 class="header__headline">Properties</h1>
                <p class="header tagline">Guiding repository for the TypeScript Workshop</p>
            </div>
        </header>

        <main id="app" class="content">
            <div class="page__container"></div>
        </main>

        <footer class="footer">
            <div class="page__container">
                <p class="copyright">&copy; 2019 - Coded by Neville</p>
            </div>
        </footer>
    </div>

    <!-- document scripts -->
    <script src="js/main.js"></script>
</body>
</html>
