.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    > *:nth-child(2) {
        flex: 1;
    }

    &__container {
        width: 100%;
        min-width: 320px;
        max-width: 960px;
        margin: 0 auto;
    }
}
